
<div class="game-container">
  <h1>Juego del Ahorcado </h1>
  <div class="dificultad-selector">
    <button (click)="dificultad = 'FACIL'; iniciarJuego()" [class.active]="dificultad === 'FACIL'">Fácil</button>
    <button (click)="dificultad = 'MEDIO'; iniciarJuego()" [class.active]="dificultad === 'MEDIO'">Medio</button>
    <button (click)="dificultad = 'DIFICIL'; iniciarJuego()" [class.active]="dificultad === 'DIFICIL'">Difícil</button>
  </div>
    <p class="categoria">Categoría: <strong>{{ categoriaActual }}</strong></p>

  <div class="marcador">
    <span>Puntos: <strong>{{ puntaje }}</strong></span> | 
    <span>Récord Actual: <strong>{{ recordMaximo }}</strong></span>
  </div>
  <div class="ahorcado-container">
    <pre>{{ fasesAhorcado[errores] }}</pre>
  </div>

  <p class="intentos">Errores: {{ errores }} de {{ intentosMaximos }}</p>

  <div class="palabra-secreta">
    @for (letra of palabraOculta; track $index) {
      <span class="letra-espacio">{{ letra }}</span>
    }
  </div>

  <div class="teclado">
    @for (letra of abecedario; track letra) {
      <button 
        (click)="intentarLetra(letra)" 
        [disabled]="letraDeshabilitada(letra)"
        class="btn-letra">
        {{ letra }}
      </button>
    }
  </div>

  @if (juegoTerminado) {
    <div class="resultado-container">
      @if (victoria) {
        <div class="mensaje victoria">
          <h2>¡Felicidades! ¡Has salvado a la persona! 🎉</h2>
        </div>
      } @else {
        <div class="mensaje derrota">
          <h2>¡El juego ha acabado! La persona se ha ahorcado 💀</h2>
          <p>La palabra correcta era: <strong>{{ palabraSecreta }}</strong></p>
        </div>
      }

      <button (click)="iniciarJuego()" class="btn-reiniciar">Jugar de Nuevo</button>
    </div>
  }
</div>